/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
  }
  
  .coming-soon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }
  
  .coming-soon-message {
    color: white;
    font-size: 3rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
  }
  