.introduction-section {
    background-image: url("../assets/background.jpg"); /* Adjust the path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  